<div class="panel panel-default">
  <div class="panel-body">
    <p><span class="glyphicon glyphicon-envelope"></span> Thank you. We have received your message and will respond as soon as possible.</p>
  	<%= link_to "Hier geht es zurück zur Startseite", static_pages_index_path %>
  </div><!-- / panel-body -->
</div><!-- / panel -->