<!-- addition: products price should not be 0 -->
<% if @product.price != nil && @product.price != 0.0 %>
<script
  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-image="/assets/break_Logo_2.png"
  data-name= <%= @product.name %>
  data-description= <%= @product.description %>
  data-amount= <%= Integer(@product.price * 100) %>>
</script>


<!-- if the product has no price, it cannot be purchased -->
<% elsif @product.price == nil %>
	<p>We are sorry. Right now the products cannot be purchased.</p>
<% end %>