// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-name,
.product-description,
.product-image,
.product-color {
	display: block;
	text-align: center;
}

.product-properties.col-md-3 {
	height: 540px;
	width: 350px;
	margin: 15px;
	border: 1px solid #444e53;
}

#single_product {
	background-color: white;
}

.product-name {
	margin-top: 25px;
}

.product-image {
	margin: 30px auto 0;
	height: 250px;
}

#products_body {
	background-color: #eee;
}

.glyphicon-cart {
	text-align: right;
	margin-top: 10px;
}

.first-setting {
	padding-left: 150px;
}

.product-index-image {
	width: 100%;
	background-position: center;
	text-align: center;
}

.product-price {
	text-align: right;
	margin-bottom: 0;
}

.top_cart.col-md-6 p {
	margin: 15px auto 0;
}

.cart_hr {
	background-color: #B50E38;
  height: 1px;
  width: 89%;
  margin: 0 auto;
  border-top: 0;
}

.cart {
	position: absolute;
	right: 90px;
	top: 430px;
	text-align: center;
	width: 220px;
	border: 2px solid #B50E38;
	border-radius: 12px;
	background-color: white;
}

.selectpicker {
	background-color: white;
}

.show_image {
	width: 540px;
}

.p_show_product_name {
	font-size: 17px;
}

.title_referenced_products {
	margin: 150px 0 50px 120px;
}

referenced-product-image {
	height: 150px;
	width: auto;
}

.featured_image {
	width: 50px;
}


/*EDIT - PAGE and FORM - PAGE*/

.edit-title,
.field,
.actions {
	text-align: center;
}


.edit-title {
	margin: 0;
	padding: 50px 0 30px;
	background-color: #eee;
}

.field {
	padding-top: 30px;
	padding-bottom: 20px;
}

.field2,
.field4,
.field6 {
	background-color: #eee;
}

.actions.field6 {
	margin-bottom: 0;
}

.actions {
	padding-top: 20px;
}

.form-actions.btn.btn-default {
	border-width: 1.7px;
}

.edit-links {
	padding-left: 30px;
}

.average-rating {
	margin-bottom: 10px;
	margin-top: 50px;
}
 
.rated {
	margin-left: 32px;
}

.comment-body.col-md-4,
.comment-paragraph {
	margin-bottom: 0;
}

.comment-paragraph {
	margin-top: 20px;
}

.rating,
.comment-title {
	margin-left: 33px;
}

.comment-submit {
	margin-top: 0;
	margin-bottom: 50px;
}

.comments-show.col-md-4 {
	text-align: center;
	margin-bottom: 10px;
}

.comments-show-rated.rated {
	margin-left: 0;
}

.product-reviews {
	margin-top: 100px;
}



/* PAGINATION (apple style) */

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }




//STRIPE PAYMENT

.stripe-button-el {
	margin-left: 30px;
}



/*NEW - PAGE*/

.new-title {
	margin: 0;
	padding: 50px 0 30px;
	background-color: #eee;
	text-align: center;
}