// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Bootstrap navbar 
$bgDefault      : #d61b1b;
$bgHighlight    : #fb7c7c;
$colDefault     : #ecf0f1;
$colHighlight   : #ecdbff;
$dropDown       : false;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            > .divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

body {
	margin: 50px 0 0 0;
}

h1, h2 {
	text-align: left;
  margin-bottom: 20px;
  margin-left: 200px;
}

.header_home {
  height: 500px;
  background-image: url("./breakfast1.jpg");
  background-size: 100%;
  background-repeat: norepeat;
  background-position: center;
}

.how_it_works_title {
  text-align: center;
}

.how_it_works_img {
  margin: 60px auto 0;
}

.how_it_works_p {
  text-align: center;
}

.col-md-12,
.col-md-9,
.col-md-3, {
  padding: 0;
}


.content_index {
/*Must be below .col..., because of the cascading structure. Otherwise, the content_index padding is set to padding: 0; due the other settings*/
  padding-top: 70px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #eee;
}

.content_index h4 {
  width: 75%;
  margin: auto;
}

.hr_index {
  background-color: black;
  height: 1px;
  width: 110%;
  margin: 0;
  margin-left: -20px;
  border-top: 0;
}

#back_to_top {
  display: block;
  text-align: right;
  margin-right: 70px;
  margin-bottom: 0;
  padding: 0;
}

.side-text {
  font-size: 22px;
  margin: 75px 20px 20px;
}

.content_div.last_content {
  margin-bottom: 100px;
}


/*
footer {
	text-align: center;
	padding-top: 20px;
  padding-bottom: 85px;
  background-color: #7e7a7a;
  color: black;
  margin: 30px -10% 0 -10%;
}

.p-impressum {
  margin: 4px;
}

.copy {
  margin-top: 26px;
}
*/
