
<div class="cart">

	<div class="row">
		<div class="top_cart col-md-6">
			<p>Test1</p>
		</div>
		<div class="top_cart col-md-6">
			<p>Test2</p>
		</div>
		<hr class="cart_hr">
	</div>

	<p><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</a></p>
	<p><a href="#"><span class="glyphicon glyphicon-credit-card"></span> Add to cart and pay</a></p>
	<p>Price</p>
	<p></p>
	<p>You cann add the product to your cart and continue shopping.</p>
</div>